/*--COLORS--*/
$accent-color: #FFC700;
$dark-color: #404149;
$white-color: #FFFFFF;
$black-color: #000000;
/*--SIZES--*/
$font: 12px;
$padding: 12px;
$margin: 12px;
$height: 100px;
$width: 100px;

.content-container {
  display: flex;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  margin: auto;
  width: 60%;
  max-width: 2000px;
  &.wide{
    width: 65%;
    max-width: 2200px;
  }
}
.modal-container {
  position:fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
}
.services-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $white-color;
  .services-caption {
    font-size: $font*3;
    font-weight: 500;
    color: $black-color;
    text-transform: uppercase;
    margin: $margin*12 0 $margin*4 0;
  }
  .services-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 30%));
    width: 100%;
    justify-content: center;
    justify-items: center; /* Размещаем карточку по центру */
    column-gap: $margin*2.5; /* Отступ между колонками */
    row-gap: $margin*2.5; /* Отступ между рядами */
    .service-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      background-color: $accent-color;
      min-height: $height*2.3;
      width: 100%;
      padding: $padding/2;
      .service-card-ico {
        width: $width*0.8;
        height: $height*0.8;
        margin: $padding*3.5 0 0 0;
      }
      .service-card-description {
        text-align: center;
        font-size: $font*2.7;
        line-height: $font*4;
        font-weight: 500;
        color: $black-color;
        text-transform: uppercase;
      }
    }
  }
}

.request-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $accent-color;
  min-height: $height*1.4;
  padding: $padding 0;
  &.big {
    min-height: $height*1.8;
    }
  .request-description {
    text-transform: uppercase;
    color: $black-color;
    &.white {
      color: $white-color;
    }
    .request-description-string-first {
      font-size: $font*4;
      font-weight: 700;
      margin: 0 0 12px 0;
    }
    .request-description-string-second {
      font-size: $font*2;
      font-weight: 700;
    }
  }
  .request-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white-color;
    width: 320px;
    height: $height*0.92;
    font-size: $font*3.333333;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    :hover {
      cursor: pointer;
    }
    img{
      padding: 0 0 0 $padding/2;
    }
    span{
      padding: 0 $padding $padding/3 0;
    }
  }
}

.request-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $accent-color;
  width: $width*4;
  min-height: $height*5;
}

.partners-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark-color;
  height: $height*3.6;
  .partners-caption {
    font-size: $font*3;
    font-weight: 500;
    color: $white-color;
    text-transform: uppercase;
    margin: 0 0 $margin*3 0;
  }
  .partners-ico-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
