/*--COLORS--*/
/*--SIZES--*/
.content-container {
  opacity: 1;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: inherit;
  align-items: inherit;
  justify-content: inherit;
  margin: auto;
  width: 60%;
  max-width: 2000px;
}
.content-container.wide {
  width: 65%;
  max-width: 2200px;
}
.content-container.ultra-wide {
  width: 100%;
  max-width: 2200px;
}

.modal-container {
  opacity: 1;
  visibility: visible;
  transition: 0.2s ease-in-out;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.block-caption {
  font-size: 36px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.block-caption.main {
  font-size: 64.2px;
  line-height: 96px;
  color: #FFFFFF;
  margin: 108px 0 0 0;
  letter-spacing: 0.02em;
}
.block-caption.projects {
  margin: 0 0 48px 0;
}
.block-caption.services {
  margin: 0 0 48px 0;
}
.block-caption.faq {
  margin: 0 0 48px 0;
}
.block-caption.partners {
  color: #FFFFFF;
  margin: 0 0 36px 0;
}
.block-caption.contacts {
  margin: 0 0 48px 0;
}

.main-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../src/main_background.png");
  background-size: cover;
  object-fit: cover;
  width: 100%;
  min-height: 1000px;
}
.main-block .main-description {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #FFFFFF;
  margin: 24px 0 0 0;
}
.main-block .main-stat-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 25%));
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #FFC700;
  min-height: 300px;
  padding: 0 72px;
  margin: 36px 0 36px 0;
}
.main-block .main-stat-list .main-stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: content-box;
  height: 70%;
}
.main-block .main-stat-list .main-stat-item .main-stat-item-num {
  text-transform: uppercase;
  text-align: center;
  font-size: 72px;
  font-weight: 500;
  line-height: 108px;
  color: #000000;
}
.main-block .main-stat-list .main-stat-item .main-stat-item-caption {
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  color: #000000;
}
.main-block .main-stat-list .main-stat-item .main-stat-item-description {
  text-transform: lowercase;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #404149;
}

.projects-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 36px 0 96px 0;
}
.projects-block .projects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.projects-block .project-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32%;
}
.projects-block .project-card .project-card-image {
  width: 350px;
  max-width: 100%;
  height: 380px;
  object-fit: cover;
  margin: 0 0 42px 0;
}
.projects-block .project-card .project-card-caption {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #404149;
  margin: 0 0 18px 0;
}
.projects-block .project-card .project-card-caption:before {
  content: "";
  display: flex;
  width: 55px;
  height: 6px;
  background-color: #FFA800;
  margin: 0 0 18px 0;
}
.projects-block .project-card .project-card-description {
  font-family: Open Sans, sans-serif;
  font-size: 16.8px;
  font-weight: 400;
  line-height: 24px;
  color: #999999;
}

.request-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #FFC700;
  min-height: 140px;
  padding: 12px 0;
}
.request-block.big {
  min-height: 180px;
}
.request-block .request-description {
  text-transform: uppercase;
  color: #000000;
}
.request-block .request-description.white {
  color: #FFFFFF;
}
.request-block .request-description .request-description-string-first {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 12px 0;
}
.request-block .request-description .request-description-string-second {
  font-size: 24px;
  font-weight: 700;
}
.request-block .request-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  width: 320px;
  height: 92px;
  font-size: 39.999996px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.request-block .request-button :hover {
  cursor: pointer;
}
.request-block .request-button img {
  padding: 0 0 0 6px;
}
.request-block .request-button span {
  padding: 0 12px 4px 0;
}

.services-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 168px 0 216px 0;
}
.services-block .services-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 30%));
  width: 100%;
  justify-content: center;
  justify-items: center;
  column-gap: 30px;
  row-gap: 30px;
}
.services-block .services-list .service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #FFC700;
  min-height: 230px;
  width: 100%;
  padding: 6px;
}
.services-block .services-list .service-card .service-card-ico {
  width: 80px;
  height: 80px;
  margin: 42px 0 0 0;
}
.services-block .services-list .service-card .service-card-ico.small-ico {
  width: 100px;
  height: 100px;
  margin: 21.6px 0 0 0;
}
.services-block .services-list .service-card .service-card-description {
  text-align: center;
  font-size: 32.4px;
  line-height: 48px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.carousel-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 700px;
}
.carousel-block .carousel {
  position: relative;
  transform: translate(-50%, -50%);
  user-select: none;
}
.carousel-block .carousel .carousel-item {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 34vw;
  max-width: 650px;
  height: 630px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  z-index: -1;
  opacity: 0;
}
.carousel-block .carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-block .carousel .carousel-item.active {
  width: 650px;
  opacity: 1;
  z-index: 3;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.9);
}
.carousel-block .carousel .carousel-item.prev {
  z-index: 2;
  opacity: 0.55;
  transform: translate(-145%, -50%) scale(0.9);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.7);
}
.carousel-block .carousel .carousel-item.next {
  z-index: 2;
  opacity: 0.55;
  transform: translate(45%, -50%) scale(0.9);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.7);
}
.carousel-block .carousel .carousel-button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 4;
}
.carousel-block .carousel .carousel-button-container .carousel-button {
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 0.2s ease-in-out;
  /*&:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $width*0.7;
    height: $height*0.7;
    //background-color: $dark-color;
    border-radius: 50%;
  }*/
}
.carousel-block .carousel .carousel-button-container .carousel-button .carousel-button-ico {
  position: absolute;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
}
.carousel-block .carousel .carousel-button-container .carousel-button .carousel-button-ico.left {
  transform: translate(-50%, -50%) rotate(180deg);
}
.carousel-block .carousel .carousel-button-container .carousel-button:hover {
  opacity: 0.9;
}

.faq-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 192px 0 48px 0;
}
.faq-block .faq-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 180px;
}
.faq-block .faq-list .faq-list-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: center;
  width: 45%;
}
.faq-block .faq-list .faq-list-column details {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #999999;
}
.faq-block .faq-list .faq-list-column details summary {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #FFA800;
  cursor: pointer;
  text-align: justify;
}
.faq-block .faq-list .faq-list-column details summary:before {
  content: "";
  position: relative;
  margin: 12px 12.6px 0 0;
  width: 0;
  height: 0;
  transition: 0.2s ease-in-out;
  border-style: solid;
  border-width: 7px 0 7px 11px;
  border-color: transparent transparent transparent #F7654A;
}
.faq-block .faq-list .faq-list-column details summary::marker {
  color: #F7654A;
}
.faq-block .faq-list .faq-list-column details p {
  margin: 0 0 0 24px;
  text-align: justify;
}
.faq-block .faq-list .faq-list-column details[open] summary:before {
  transition: 0.2s ease-in-out;
  transform: rotate(90deg);
}

.partners-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #404149;
  height: 360px;
}
.partners-block .partners-ico-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  padding: 108px 0 144px 0;
}
.contacts-block .contacts-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.contacts-block .contacts-list .contacts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
}
.contacts-block .contacts-list .contacts-item .contact-item-icon {
  width: 50px;
  height: 50px;
  fill: #FFA800;
  margin: 0 0 18px 0;
}
.contacts-block .contacts-list .contacts-item .contact-item-caption {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #999999;
  text-transform: uppercase;
}
.contacts-block .contacts-list .contacts-item .contact-item-description {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}
.contacts-block .contacts-list .contacts-item .contact-item-description.highlighted {
  color: #FFA800;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #404149;
  min-height: 80px;
  padding: 12px 0;
}
.footer .footer-info {
  font-family: Open Sans, sans-serif;
  font-size: 15.84px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #FFFFFF;
}

.request-form {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFC700;
  border-radius: 8px;
  box-shadow: 4px 4px 16px 0 #000000;
  width: 400px;
  padding: 36px;
}
.request-form .input-box {
  height: 50px;
  width: 100%;
  margin-bottom: 12px;
}
.request-form .input-box.message-box {
  min-height: 150px;
}
.request-form .input-box input, .request-form .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 0 12px;
  font-size: 15.6px;
  line-height: 1;
  font-family: Oswald, sans-serif;
  text-align: left;
}
.request-form .input-box textarea {
  resize: none;
  padding: 12px;
}
.request-form .request-form-submit-button {
  display: inline-block;
  color: #FFFFFF;
  font-size: 24px;
  background: #404149;
  width: 100%;
  outline: none;
  border: none;
  padding: 10.8px 24px;
  border-radius: 8px;
}

/*# sourceMappingURL=styles.css.map */
